body{
    font-family: 'Press Start 2P', cursive;
    background-color: silver;
}
.center{
    text-align: center;
}
.fundo {
    background-color: goldenrod;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;  
}
.header{
    max-width: 60%;
    margin: 75px;
}
.apresentation{
    width: 46%;
    text-align: center;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;

}
.apresentation h2{
    font-size: 18px;
}
.photo{
    padding: 5px;
    background-color: goldenrod;
}
.impar{
    font-size: 120%;
    color: green;
    padding:35px;
    margin: 35px;
}