body{
    font-family: 'Press Start 2P', cursive;
    line-height: 25px;
    background-color: silver;
}
.nome{
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
    
}

.descricao {
    font-family: 'Sarpanch', sans-serif;
}

.fundo {
    background-color: goldenrod;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
    
}